.news_search{ padding:10px 10px; }
.layui-table,.layui-table th{ text-align:center; }
.news_list .layui-form-switch{ margin-top:0; }

body{
	padding: 10px;
}
table th{
	font-weight: 900 !important;
}
/*分页*/
#page{ text-align:right; }
#demo1{
	float: right;
}

.childrenBody{
	padding: 10px;
}

/*hide*/
.hide{
	display: none;
}
.red{
	color: #E60000;
}
